*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
   justify-content: center;
    align-items: center;
    background-color: #f5ebe0;
}
.calculator{
  
    width: 100vh;
    height: 80vh;
    background-color: #d6ccc2;
    border-radius: 3px;
}
.scrn{
    margin-top: 4px;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
  
}
#sid{
    justify-content: center;
    width: 80%;
    height: 100%;
    border-radius: 5%;
    font-size: medium;
}
.buttons{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
   
}
.btn{
    gap: 1.5vh;
    height: 12vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
   background-color: #edede9;
   border-color: rgb(53, 52, 52);
}
